<h2><%= @carrier.name %></h2>

<div  class="planet">

    <ul>

        <li>Range: <%= @carrier.range %></li>

        <li>Listed Adventures:</li>

    <% @carrier.trips.each do |trip| %>

        <li>
            <%= link_to "#{Planet.find(trip.origin_id).name} to #{Planet.find(trip.destination_id).name}", trip_path(trip)%>
        </li>

    <% end %>

    </ul>

</div>